.home-articles {

  & .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    & > .card:first-child,
    & > .card:last-child {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      align-items: center;
      grid-column: 1 / span 2;
    }

    & > .card:last-child {
      grid-column: 2 / span 2;
    }
  }
}